<!doctype html>
<html lang="{{ site.language }}">
<head>{% include "head.njk" %}</head>
<body class="{{ bodyClass }}" id="top">
<a class="skip-link" href="#main-content">Skip to content</a>
{% include "header.njk" %}
<main id="main-content" tabindex="-1">{{ content | safe }}</main>
{% include "footer.html" %}
<script src="/assets/site.js" defer></script>
<script id="newsletter-provider" src="https://js.hsforms.net/forms/embed/v2.js" async></script>
</body>
</html>
