<footer data-elementor-type="footer" data-elementor-id="166" class="elementor elementor-166 elementor-location-footer" data-elementor-post-type="elementor_library">
					<section class="elementor-section elementor-top-section elementor-element elementor-element-791f0a58 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="791f0a58" data-element_type="section" data-e-type="section">
						<div class="elementor-container elementor-column-gap-default">
					<div class="elementor-column elementor-col-25 elementor-top-column elementor-element elementor-element-2a530946" data-id="2a530946" data-element_type="column" data-e-type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
						<div class="elementor-element elementor-element-8c72232 elementor-widget elementor-widget-heading" data-id="8c72232" data-element_type="widget" data-e-type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
					<h5 class="elementor-heading-title elementor-size-default">Digital Library Federation at CLIR</h5>				</div>
				</div>
				<div class="elementor-element elementor-element-7c212f2 elementor-icon-list--layout-traditional elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list" data-id="7c212f2" data-element_type="widget" data-e-type="widget" data-widget_type="icon-list.default">
				<div class="elementor-widget-container">
							<ul class="elementor-icon-list-items">
							<li class="elementor-icon-list-item">
											<a href="mailto:forum@diglib.org">

												<span class="elementor-icon-list-icon">
							<i aria-hidden="true" class="fas fa-envelope"></i>						</span>
										<span class="elementor-icon-list-text"><span class="">forum@diglib.org</span></span>
											</a>
									</li>
						</ul>
						</div>
				</div>
				<div class="elementor-element elementor-element-2fa0841 elementor-widget-divider--view-line elementor-widget elementor-widget-divider" data-id="2fa0841" data-element_type="widget" data-e-type="widget" data-widget_type="divider.default">
				<div class="elementor-widget-container">
							<div class="elementor-divider">
			<span class="elementor-divider-separator">
						</span>
		</div>
						</div>
				</div>
				<div class="elementor-element elementor-element-5cdfae5 elementor-widget elementor-widget-text-editor" data-id="5cdfae5" data-element_type="widget" data-e-type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
									<p><a href="https://www.clir.org/privacy" target="_blank" rel="noopener">Privacy Policy</a></p>								</div>
				</div>
					</div>
		</div>
				<div class="elementor-column elementor-col-25 elementor-top-column elementor-element elementor-element-573743f4" data-id="573743f4" data-element_type="column" data-e-type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
						<div class="elementor-element elementor-element-3da33b61 elementor-widget elementor-widget-heading" data-id="3da33b61" data-element_type="widget" data-e-type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
					<h5 class="elementor-heading-title elementor-size-default">Follow DLF</h5>				</div>
				</div>
				<div class="elementor-element elementor-element-4591ae5 elementor-align-start elementor-icon-list--layout-traditional elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list" data-id="4591ae5" data-element_type="widget" data-e-type="widget" data-widget_type="icon-list.default">
				<div class="elementor-widget-container">
							<ul class="elementor-icon-list-items">
							<li class="elementor-icon-list-item">
											<a href="https://www.facebook.com/CLIRDLF/" target="_blank">

												<span class="elementor-icon-list-icon">
							<i aria-hidden="true" class="fab fa-facebook-f"></i>						</span>
										<span class="elementor-icon-list-text">Facebook</span>
											</a>
									</li>
								<li class="elementor-icon-list-item">
											<a href="https://twitter.com/CLIRDLF" target="_blank">

												<span class="elementor-icon-list-icon">
							<i aria-hidden="true" class="fab fa-twitter"></i>						</span>
										<span class="elementor-icon-list-text">Twitter</span>
											</a>
									</li>
								<li class="elementor-icon-list-item">
											<a href="https://www.linkedin.com/company/digital-library-federation/" target="_blank">

												<span class="elementor-icon-list-icon">
							<i aria-hidden="true" class="fab fa-linkedin-in"></i>						</span>
										<span class="elementor-icon-list-text">LinkedIn</span>
											</a>
									</li>
								<li class="elementor-icon-list-item">
											<a href="https://www.youtube.com/user/DLFCLIR" target="_blank">

												<span class="elementor-icon-list-icon">
							<i aria-hidden="true" class="fab fa-youtube"></i>						</span>
										<span class="elementor-icon-list-text">YouTube</span>
											</a>
									</li>
								<li class="elementor-icon-list-item">
											<a href="https://www.instagram.com/clirdlf/" target="_blank">

												<span class="elementor-icon-list-icon">
							<i aria-hidden="true" class="fab fa-instagram"></i>						</span>
										<span class="elementor-icon-list-text">Instagram</span>
											</a>
									</li>
						</ul>
						</div>
				</div>
					</div>
		</div>
				<div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-5653de9d" data-id="5653de9d" data-element_type="column" data-e-type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
						<div class="elementor-element elementor-element-bf3e18d elementor-widget elementor-widget-heading" data-id="bf3e18d" data-element_type="widget" data-e-type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
					<h3 class="elementor-heading-title elementor-size-default">Don’t Miss A Thing</h3>				</div>
				</div>
				<div class="elementor-element elementor-element-395f9e70 elementor-widget elementor-widget-text-editor" data-id="395f9e70" data-element_type="widget" data-e-type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
									<p>Sign up for event updates, ticket sales, news and other special announcements</p>								</div>
				</div>
				<div class="elementor-element elementor-element-6b296d8 elementor-widget elementor-widget-shortcode" data-id="6b296d8" data-element_type="widget" data-e-type="widget" data-widget_type="shortcode.default">
				<div class="elementor-widget-container">
							<div class="elementor-shortcode">
						<script>
							window.hsFormsOnReady = window.hsFormsOnReady || [];
							window.hsFormsOnReady.push(()=>{
								hbspt.forms.create({
									portalId: 20251227,
									formId: "b09f7200-65b8-41c3-bf3a-fec22b062d98",
									target: "#hbspt-form-1790442365000-5835673067",
									region: "na1",
									
							})});
						</script>
						<div class="hbspt-form" id="hbspt-form-1790442365000-5835673067"></div></div>
						</div>
				</div>
					</div>
		</div>
					</div>
		</section>
				<section class="elementor-section elementor-top-section elementor-element elementor-element-c463599 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="c463599" data-element_type="section" data-e-type="section">
						<div class="elementor-container elementor-column-gap-default">
					<div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-b89e08a" data-id="b89e08a" data-element_type="column" data-e-type="column">
			<div class="elementor-widget-wrap">
							</div>
		</div>
				<div class="elementor-column elementor-col-66 elementor-top-column elementor-element elementor-element-49b6f99" data-id="49b6f99" data-element_type="column" data-e-type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
						<div class="elementor-element elementor-element-1912439 elementor-view-default elementor-widget elementor-widget-icon" data-id="1912439" data-element_type="widget" data-e-type="widget" data-settings="{&quot;motion_fx_motion_fx_scrolling&quot;:&quot;yes&quot;,&quot;sticky&quot;:&quot;bottom&quot;,&quot;sticky_effects_offset&quot;:&quot;500&quot;,&quot;motion_fx_devices&quot;:[&quot;desktop&quot;,&quot;tablet&quot;,&quot;mobile&quot;],&quot;sticky_on&quot;:[&quot;desktop&quot;,&quot;tablet&quot;,&quot;mobile&quot;],&quot;sticky_offset&quot;:0,&quot;sticky_anchor_link_offset&quot;:0}" data-widget_type="icon.default">
				<div class="elementor-widget-container">
							<div class="elementor-icon-wrapper">
			<a class="elementor-icon" href="#top">
			<i aria-hidden="true" class="fas fa-angle-up"></i>			</a>
		</div>
						</div>
				</div>
					</div>
		</div>
					</div>
		</section>
				</footer>