<header data-elementor-type="header" data-elementor-id="1345" class="elementor elementor-1345 elementor-location-header" data-elementor-post-type="elementor_library">
					<section class="elementor-section elementor-top-section elementor-element elementor-element-f09d249 elementor-section-full_width elementor-section-stretched elementor-section-content-space-evenly elementor-section-height-default elementor-section-height-default" data-id="f09d249" data-element_type="section" data-e-type="section" data-settings="{&quot;stretch_section&quot;:&quot;section-stretched&quot;}">
						<div class="elementor-container elementor-column-gap-narrow">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-a3bce0a" data-id="a3bce0a" data-element_type="column" data-e-type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
			<div class="elementor-widget-wrap elementor-element-populated">
						<div class="elementor-element elementor-element-68d2ee4 elementor-widget elementor-widget-text-editor" data-id="68d2ee4" data-element_type="widget" data-e-type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
									<p style="text-align: center">Our events have now passed. Thank you for joining us in St. Louis!</p>								</div>
				</div>
					</div>
		</div>
					</div>
		</section>
				<section class="elementor-section elementor-top-section elementor-element elementor-element-541cfb78 elementor-section-height-min-height elementor-section-content-middle elementor-section-boxed elementor-section-height-default elementor-section-items-middle" data-id="541cfb78" data-element_type="section" data-e-type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;sticky&quot;:&quot;top&quot;,&quot;sticky_on&quot;:[&quot;desktop&quot;,&quot;tablet&quot;,&quot;mobile&quot;],&quot;sticky_offset&quot;:0,&quot;sticky_effects_offset&quot;:0,&quot;sticky_anchor_link_offset&quot;:0}">
						<div class="elementor-container elementor-column-gap-default">
					<div class="elementor-column elementor-col-16 elementor-top-column elementor-element elementor-element-70fb09db" data-id="70fb09db" data-element_type="column" data-e-type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
						<div class="elementor-element elementor-element-2781bad3 elementor-widget elementor-widget-theme-site-logo elementor-widget-image" data-id="2781bad3" data-element_type="widget" data-e-type="widget" data-widget_type="theme-site-logo.default">
				<div class="elementor-widget-container">
											<a href="">
			<img width="1838" height="982" src="/wp-content/uploads/sites/45/2023/02/cropped-dlf-forum-2023-cmyk.png" class="attachment-full size-full wp-image-559" alt="DLF Forum 2023" srcset="/wp-content/uploads/sites/45/2023/02/cropped-dlf-forum-2023-cmyk.png 1838w, /wp-content/uploads/sites/45/2023/02/cropped-dlf-forum-2023-cmyk-300x160.png 300w, /wp-content/uploads/sites/45/2023/02/cropped-dlf-forum-2023-cmyk-1024x547.png 1024w, /wp-content/uploads/sites/45/2023/02/cropped-dlf-forum-2023-cmyk-768x410.png 768w, /wp-content/uploads/sites/45/2023/02/cropped-dlf-forum-2023-cmyk-1536x821.png 1536w" sizes="(max-width: 1838px) 100vw, 1838px">				</a>
											</div>
				</div>
					</div>
		</div>
				<div class="elementor-column elementor-col-66 elementor-top-column elementor-element elementor-element-5f8249b" data-id="5f8249b" data-element_type="column" data-e-type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
						<div class="elementor-element elementor-element-3f6e98c0 elementor-nav-menu__align-center elementor-nav-menu__text-align-center elementor-nav-menu--dropdown-tablet elementor-nav-menu--toggle elementor-nav-menu--burger elementor-widget elementor-widget-nav-menu" data-id="3f6e98c0" data-element_type="widget" data-e-type="widget" data-settings="{&quot;submenu_icon&quot;:{&quot;value&quot;:&quot;&quot;,&quot;library&quot;:&quot;&quot;},&quot;layout&quot;:&quot;horizontal&quot;,&quot;toggle&quot;:&quot;burger&quot;}" data-widget_type="nav-menu.default">
				<div class="elementor-widget-container">
								<nav aria-label="Menu" class="elementor-nav-menu--main elementor-nav-menu__container elementor-nav-menu--layout-horizontal e--pointer-underline e--animation-fade">{% set menuId = "desktop" %}{% include "navigation.njk" %}</nav>
					<div class="elementor-menu-toggle" role="button" tabindex="0" aria-label="Menu Toggle" aria-expanded="false">
			<i aria-hidden="true" role="presentation" class="elementor-menu-toggle__icon--open eicon-menu-bar"></i><i aria-hidden="true" role="presentation" class="elementor-menu-toggle__icon--close eicon-close"></i>		</div>
					<nav class="elementor-nav-menu--dropdown elementor-nav-menu__container" aria-hidden="true">{% set menuId = "mobile" %}{% include "navigation.njk" %}</nav>
						</div>
				</div>
					</div>
		</div>
				<div class="elementor-column elementor-col-16 elementor-top-column elementor-element elementor-element-70f9332" data-id="70f9332" data-element_type="column" data-e-type="column">
			<div class="elementor-widget-wrap">
							</div>
		</div>
					</div>
		</section>
				<section class="elementor-section elementor-top-section elementor-element elementor-element-18685c9a elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="18685c9a" data-element_type="section" data-e-type="section">
						<div class="elementor-container elementor-column-gap-default">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-3535f413" data-id="3535f413" data-element_type="column" data-e-type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
						<div class="elementor-element elementor-element-3fec0610 elementor-widget elementor-widget-menu-anchor" data-id="3fec0610" data-element_type="widget" data-e-type="widget" data-widget_type="menu-anchor.default">
				<div class="elementor-widget-container">
							<div class="elementor-menu-anchor" id="top"></div>
						</div>
				</div>
					</div>
		</div>
					</div>
		</section>
				</header>
