.elementor-kit-148{--e-global-color-primary:#1C4DB3;--e-global-color-secondary:#1C4DB3;--e-global-color-text:#000000;--e-global-color-accent:#75A0A3;--e-global-color-7d9382d6:#F9FDFD;--e-global-color-33e4c6d:#E3B262;--e-global-color-3719b5a5:#1C4DB3;--e-global-color-22e6538a:#75A0A3;--e-global-color-44a29b7:#FF508C00;--e-global-typography-primary-font-family:"Figtree";--e-global-typography-primary-font-size:54px;--e-global-typography-primary-font-weight:400;--e-global-typography-primary-text-transform:none;--e-global-typography-primary-font-style:normal;--e-global-typography-primary-line-height:60px;--e-global-typography-primary-letter-spacing:-1px;--e-global-typography-secondary-font-family:"Figtree";--e-global-typography-secondary-font-size:24px;--e-global-typography-secondary-font-weight:400;--e-global-typography-secondary-text-transform:capitalize;--e-global-typography-secondary-line-height:26px;--e-global-typography-secondary-letter-spacing:-0.67px;--e-global-typography-text-font-family:"Figtree";--e-global-typography-text-font-size:18px;--e-global-typography-text-font-weight:400;--e-global-typography-text-text-transform:none;--e-global-typography-text-font-style:normal;--e-global-typography-text-line-height:24px;--e-global-typography-text-letter-spacing:0px;--e-global-typography-accent-font-family:"Figtree";--e-global-typography-accent-font-size:16px;--e-global-typography-accent-font-weight:600;--e-global-typography-accent-text-transform:uppercase;--e-global-typography-accent-line-height:12.6px;--e-global-typography-accent-letter-spacing:0.23px;--e-global-typography-ba71612-font-family:"Figtree";--e-global-typography-ba71612-font-size:84px;--e-global-typography-ba71612-font-weight:400;--e-global-typography-ba71612-text-transform:capitalize;--e-global-typography-ba71612-line-height:84px;--e-global-typography-ba71612-letter-spacing:-1px;--e-global-typography-052e154-font-family:"Figtree";--e-global-typography-052e154-font-size:22px;--e-global-typography-052e154-font-weight:300;--e-global-typography-052e154-line-height:28px;--e-global-typography-052e154-letter-spacing:-0.65px;--e-global-typography-5033ca2-font-family:"Figtree";--e-global-typography-5033ca2-font-size:12px;--e-global-typography-5033ca2-font-weight:300;--e-global-typography-5033ca2-line-height:24px;--e-global-typography-5033ca2-letter-spacing:0px;--e-global-typography-e9ab2e9-font-family:"Archivo";--e-global-typography-e9ab2e9-font-size:80px;--e-global-typography-e9ab2e9-font-weight:normal;--e-global-typography-e9ab2e9-line-height:80px;--e-global-typography-e9ab2e9-letter-spacing:-0.43px;--e-global-typography-4886152-font-family:"Figtree";--e-global-typography-4886152-font-size:16px;--e-global-typography-4886152-font-weight:400;--e-global-typography-4886152-text-transform:uppercase;--e-global-typography-4886152-letter-spacing:0.23px;--e-global-typography-b14dfb8-font-family:"Figtree";--e-global-typography-b14dfb8-font-size:46px;--e-global-typography-b14dfb8-font-weight:300;--e-global-typography-b14dfb8-text-transform:capitalize;--e-global-typography-b14dfb8-line-height:15px;--e-global-typography-b14dfb8-letter-spacing:-1.52px;--e-global-typography-ea36347-font-family:"Figtree";--e-global-typography-ea36347-font-size:32px;--e-global-typography-ea36347-font-weight:400;--e-global-typography-ea36347-text-transform:capitalize;--e-global-typography-ea36347-line-height:42px;--e-global-typography-ea36347-letter-spacing:-0.59px;background-color:var( --e-global-color-7d9382d6 );font-family:"Poppins", Sans-serif;font-size:18px;font-weight:400;line-height:24px;letter-spacing:0px;}.elementor-kit-148 e-page-transition{background-color:#FFBC7D;}.elementor-kit-148 a{color:var( --e-global-color-primary );}.elementor-kit-148 a:hover{color:var( --e-global-color-accent );}.elementor-kit-148 h5{color:var( --e-global-color-primary );font-family:"Poppins", Sans-serif;font-size:22px;font-weight:300;line-height:28px;letter-spacing:-0.65px;}.elementor-kit-148 button,.elementor-kit-148 input[type="button"],.elementor-kit-148 input[type="submit"],.elementor-kit-148 .elementor-button{color:var( --e-global-color-text );}.elementor-kit-148 button:hover,.elementor-kit-148 button:focus,.elementor-kit-148 input[type="button"]:hover,.elementor-kit-148 input[type="button"]:focus,.elementor-kit-148 input[type="submit"]:hover,.elementor-kit-148 input[type="submit"]:focus,.elementor-kit-148 .elementor-button:hover,.elementor-kit-148 .elementor-button:focus{color:var( --e-global-color-text );}.elementor-section.elementor-section-boxed > .elementor-container{max-width:1600px;}.e-con{--container-max-width:1600px;}.elementor-widget:not(:last-child){margin-block-end:20px;}.elementor-element{--widgets-spacing:20px 20px;--widgets-spacing-row:20px;--widgets-spacing-column:20px;}{}h1.entry-title{display:var(--page-title-display);}.site-header{padding-inline-end:0px;padding-inline-start:0px;}@media(max-width:1024px){.elementor-kit-148{--e-global-typography-primary-font-size:42px;--e-global-typography-primary-line-height:48px;--e-global-typography-secondary-font-size:20px;--e-global-typography-ba71612-font-size:65px;--e-global-typography-ba71612-line-height:65px;--e-global-typography-052e154-font-size:18px;--e-global-typography-e9ab2e9-font-size:70px;--e-global-typography-e9ab2e9-line-height:70px;--e-global-typography-ea36347-font-size:26px;--e-global-typography-ea36347-line-height:48px;}.elementor-kit-148 h5{font-size:18px;}.elementor-section.elementor-section-boxed > .elementor-container{max-width:1024px;}.e-con{--container-max-width:1024px;}}@media(max-width:767px){.elementor-kit-148{--e-global-typography-primary-font-size:32px;--e-global-typography-secondary-font-size:18px;--e-global-typography-text-font-size:14px;--e-global-typography-text-line-height:22px;--e-global-typography-accent-font-size:14px;--e-global-typography-ba71612-font-size:42px;--e-global-typography-ba71612-line-height:42px;--e-global-typography-052e154-font-size:16px;--e-global-typography-5033ca2-line-height:22px;--e-global-typography-e9ab2e9-font-size:48px;--e-global-typography-e9ab2e9-line-height:48px;--e-global-typography-b14dfb8-font-size:22px;--e-global-typography-b14dfb8-letter-spacing:-0.4px;--e-global-typography-ea36347-font-size:22px;font-size:14px;line-height:22px;}.elementor-kit-148 h5{font-size:16px;}.elementor-section.elementor-section-boxed > .elementor-container{max-width:767px;}.e-con{--container-max-width:767px;}}/* Start Custom Fonts CSS */@font-face {
	font-family: 'Figtree';
	font-style: italic;
	font-weight: normal;
	font-display: auto;
	src: url('https://forum2023.diglib.org/wp-content/uploads/sites/45/2023/02/Figtree-VariableFont_wght.ttf') format('truetype');
}
@font-face {
	font-family: 'Figtree';
	font-style: normal;
	font-weight: normal;
	font-display: auto;
	src: url('https://forum2023.diglib.org/wp-content/uploads/sites/45/2023/02/Figtree-Italic-VariableFont_wght.ttf') format('truetype');
}
@font-face {
	font-family: 'Figtree';
	font-style: italic;
	font-weight: 600;
	font-display: auto;
	src: url('https://forum2023.diglib.org/wp-content/uploads/sites/45/2023/02/Figtree-SemiBoldItalic.ttf') format('truetype');
}
@font-face {
	font-family: 'Figtree';
	font-style: normal;
	font-weight: 600;
	font-display: auto;
	src: url('https://forum2023.diglib.org/wp-content/uploads/sites/45/2023/02/Figtree-SemiBold.ttf') format('truetype');
}
@font-face {
	font-family: 'Figtree';
	font-style: normal;
	font-weight: 400;
	font-display: auto;
	src: url('https://forum2023.diglib.org/wp-content/uploads/sites/45/2023/02/Figtree-Regular.ttf') format('truetype');
}
@font-face {
	font-family: 'Figtree';
	font-style: italic;
	font-weight: 500;
	font-display: auto;
	src: url('https://forum2023.diglib.org/wp-content/uploads/sites/45/2023/02/Figtree-MediumItalic.ttf') format('truetype');
}
@font-face {
	font-family: 'Figtree';
	font-style: normal;
	font-weight: 500;
	font-display: auto;
	src: url('https://forum2023.diglib.org/wp-content/uploads/sites/45/2023/02/Figtree-Medium.ttf') format('truetype');
}
@font-face {
	font-family: 'Figtree';
	font-style: italic;
	font-weight: 300;
	font-display: auto;
	src: url('https://forum2023.diglib.org/wp-content/uploads/sites/45/2023/02/Figtree-LightItalic.ttf') format('truetype');
}
@font-face {
	font-family: 'Figtree';
	font-style: normal;
	font-weight: 300;
	font-display: auto;
	src: url('https://forum2023.diglib.org/wp-content/uploads/sites/45/2023/02/Figtree-Light.ttf') format('truetype');
}
@font-face {
	font-family: 'Figtree';
	font-style: italic;
	font-weight: 400;
	font-display: auto;
	src: url('https://forum2023.diglib.org/wp-content/uploads/sites/45/2023/02/Figtree-Italic.ttf') format('truetype');
}
@font-face {
	font-family: 'Figtree';
	font-style: italic;
	font-weight: 800;
	font-display: auto;
	src: url('https://forum2023.diglib.org/wp-content/uploads/sites/45/2023/02/Figtree-ExtraBoldItalic.ttf') format('truetype');
}
@font-face {
	font-family: 'Figtree';
	font-style: normal;
	font-weight: 800;
	font-display: auto;
	src: url('https://forum2023.diglib.org/wp-content/uploads/sites/45/2023/02/Figtree-ExtraBold.ttf') format('truetype');
}
@font-face {
	font-family: 'Figtree';
	font-style: italic;
	font-weight: 700;
	font-display: auto;
	src: url('https://forum2023.diglib.org/wp-content/uploads/sites/45/2023/02/Figtree-BoldItalic.ttf') format('truetype');
}
@font-face {
	font-family: 'Figtree';
	font-style: normal;
	font-weight: 700;
	font-display: auto;
	src: url('https://forum2023.diglib.org/wp-content/uploads/sites/45/2023/02/Figtree-Bold.ttf') format('truetype');
}
@font-face {
	font-family: 'Figtree';
	font-style: italic;
	font-weight: 900;
	font-display: auto;
	src: url('https://forum2023.diglib.org/wp-content/uploads/sites/45/2023/02/Figtree-BlackItalic.ttf') format('truetype');
}
@font-face {
	font-family: 'Figtree';
	font-style: normal;
	font-weight: 900;
	font-display: auto;
	src: url('https://forum2023.diglib.org/wp-content/uploads/sites/45/2023/02/Figtree-Black.ttf') format('truetype');
}
/* End Custom Fonts CSS */