.elementor-878 .elementor-element.elementor-element-71f7e8e7 > .elementor-container > .elementor-column > .elementor-widget-wrap{align-content:center;align-items:center;}.elementor-878 .elementor-element.elementor-element-71f7e8e7 > .elementor-container{min-height:50vh;}.elementor-878 .elementor-element.elementor-element-71f7e8e7{padding:0% 5% 0% 5%;}.elementor-widget-heading .elementor-heading-title{font-family:var( --e-global-typography-primary-font-family ), Sans-serif;font-size:var( --e-global-typography-primary-font-size );font-weight:var( --e-global-typography-primary-font-weight );text-transform:var( --e-global-typography-primary-text-transform );font-style:var( --e-global-typography-primary-font-style );line-height:var( --e-global-typography-primary-line-height );letter-spacing:var( --e-global-typography-primary-letter-spacing );color:var( --e-global-color-primary );}.elementor-878 .elementor-element.elementor-element-15fa70b0{text-align:center;}.elementor-878 .elementor-element.elementor-element-15fa70b0 .elementor-heading-title{font-family:"Figtree", Sans-serif;font-size:64px;font-weight:400;text-transform:none;line-height:84px;letter-spacing:-1px;}.elementor-widget-text-editor{font-family:var( --e-global-typography-text-font-family ), Sans-serif;font-size:var( --e-global-typography-text-font-size );font-weight:var( --e-global-typography-text-font-weight );text-transform:var( --e-global-typography-text-text-transform );font-style:var( --e-global-typography-text-font-style );line-height:var( --e-global-typography-text-line-height );letter-spacing:var( --e-global-typography-text-letter-spacing );color:var( --e-global-color-text );}.elementor-widget-text-editor.elementor-drop-cap-view-stacked .elementor-drop-cap{background-color:var( --e-global-color-primary );}.elementor-widget-text-editor.elementor-drop-cap-view-framed .elementor-drop-cap, .elementor-widget-text-editor.elementor-drop-cap-view-default .elementor-drop-cap{color:var( --e-global-color-primary );border-color:var( --e-global-color-primary );}.elementor-widget-divider{--divider-color:var( --e-global-color-secondary );}.elementor-widget-divider .elementor-divider__text{color:var( --e-global-color-secondary );font-family:var( --e-global-typography-secondary-font-family ), Sans-serif;font-size:var( --e-global-typography-secondary-font-size );font-weight:var( --e-global-typography-secondary-font-weight );text-transform:var( --e-global-typography-secondary-text-transform );line-height:var( --e-global-typography-secondary-line-height );letter-spacing:var( --e-global-typography-secondary-letter-spacing );}.elementor-widget-divider.elementor-view-stacked .elementor-icon{background-color:var( --e-global-color-secondary );}.elementor-widget-divider.elementor-view-framed .elementor-icon, .elementor-widget-divider.elementor-view-default .elementor-icon{color:var( --e-global-color-secondary );border-color:var( --e-global-color-secondary );}.elementor-widget-divider.elementor-view-framed .elementor-icon, .elementor-widget-divider.elementor-view-default .elementor-icon svg{fill:var( --e-global-color-secondary );}.elementor-878 .elementor-element.elementor-element-a583f67{--divider-border-style:solid;--divider-color:#000;--divider-border-width:1px;}.elementor-878 .elementor-element.elementor-element-a583f67 .elementor-divider-separator{width:100%;}.elementor-878 .elementor-element.elementor-element-a583f67 .elementor-divider{padding-block-start:15px;padding-block-end:15px;}.elementor-878 .elementor-element.elementor-element-aa5c254{--divider-border-style:solid;--divider-color:#000;--divider-border-width:1px;}.elementor-878 .elementor-element.elementor-element-aa5c254 .elementor-divider-separator{width:100%;}.elementor-878 .elementor-element.elementor-element-aa5c254 .elementor-divider{padding-block-start:15px;padding-block-end:15px;}.elementor-878 .elementor-element.elementor-element-b97b9ee{--divider-border-style:solid;--divider-color:#000;--divider-border-width:1px;}.elementor-878 .elementor-element.elementor-element-b97b9ee .elementor-divider-separator{width:100%;}.elementor-878 .elementor-element.elementor-element-b97b9ee .elementor-divider{padding-block-start:15px;padding-block-end:15px;}.elementor-878 .elementor-element.elementor-element-711e659{--divider-border-style:solid;--divider-color:#000;--divider-border-width:1px;}.elementor-878 .elementor-element.elementor-element-711e659 .elementor-divider-separator{width:100%;}.elementor-878 .elementor-element.elementor-element-711e659 .elementor-divider{padding-block-start:15px;padding-block-end:15px;}.elementor-878 .elementor-element.elementor-element-a60266b{--divider-border-style:solid;--divider-color:var( --e-global-color-accent );--divider-border-width:3px;}.elementor-878 .elementor-element.elementor-element-a60266b .elementor-divider-separator{width:60%;margin:0 auto;margin-center:0;}.elementor-878 .elementor-element.elementor-element-a60266b .elementor-divider{text-align:center;padding-block-start:15px;padding-block-end:15px;}.elementor-widget-button .elementor-button{background-color:var( --e-global-color-accent );font-family:var( --e-global-typography-accent-font-family ), Sans-serif;font-size:var( --e-global-typography-accent-font-size );font-weight:var( --e-global-typography-accent-font-weight );text-transform:var( --e-global-typography-accent-text-transform );line-height:var( --e-global-typography-accent-line-height );letter-spacing:var( --e-global-typography-accent-letter-spacing );}.elementor-878 .elementor-element.elementor-element-87fd59c .elementor-button{fill:var( --e-global-color-text );color:var( --e-global-color-text );}:root{--page-title-display:none;}@media(max-width:1024px){.elementor-878 .elementor-element.elementor-element-71f7e8e7 > .elementor-container{min-height:86vh;}.elementor-878 .elementor-element.elementor-element-71f7e8e7{padding:0% 3% 0% 3%;}.elementor-878 .elementor-element.elementor-element-68e0ddd8 > .elementor-element-populated{margin:0% 0% 6% 0%;--e-column-margin-right:0%;--e-column-margin-left:0%;}.elementor-widget-heading .elementor-heading-title{font-size:var( --e-global-typography-primary-font-size );line-height:var( --e-global-typography-primary-line-height );letter-spacing:var( --e-global-typography-primary-letter-spacing );}.elementor-878 .elementor-element.elementor-element-15fa70b0 .elementor-heading-title{font-size:65px;line-height:65px;}.elementor-widget-text-editor{font-size:var( --e-global-typography-text-font-size );line-height:var( --e-global-typography-text-line-height );letter-spacing:var( --e-global-typography-text-letter-spacing );}.elementor-widget-divider .elementor-divider__text{font-size:var( --e-global-typography-secondary-font-size );line-height:var( --e-global-typography-secondary-line-height );letter-spacing:var( --e-global-typography-secondary-letter-spacing );}.elementor-widget-button .elementor-button{font-size:var( --e-global-typography-accent-font-size );line-height:var( --e-global-typography-accent-line-height );letter-spacing:var( --e-global-typography-accent-letter-spacing );}}@media(max-width:767px){.elementor-widget-heading .elementor-heading-title{font-size:var( --e-global-typography-primary-font-size );line-height:var( --e-global-typography-primary-line-height );letter-spacing:var( --e-global-typography-primary-letter-spacing );}.elementor-878 .elementor-element.elementor-element-15fa70b0 .elementor-heading-title{font-size:42px;line-height:42px;}.elementor-widget-text-editor{font-size:var( --e-global-typography-text-font-size );line-height:var( --e-global-typography-text-line-height );letter-spacing:var( --e-global-typography-text-letter-spacing );}.elementor-widget-divider .elementor-divider__text{font-size:var( --e-global-typography-secondary-font-size );line-height:var( --e-global-typography-secondary-line-height );letter-spacing:var( --e-global-typography-secondary-letter-spacing );}.elementor-widget-button .elementor-button{font-size:var( --e-global-typography-accent-font-size );line-height:var( --e-global-typography-accent-line-height );letter-spacing:var( --e-global-typography-accent-letter-spacing );}}@media(max-width:1024px) and (min-width:768px){.elementor-878 .elementor-element.elementor-element-68e0ddd8{width:100%;}}/* Start Custom Fonts CSS */@font-face {
	font-family: 'Figtree';
	font-style: italic;
	font-weight: normal;
	font-display: auto;
	src: url("/wp-content/uploads/sites/45/2023/02/Figtree-VariableFont_wght.ttf") format('truetype');
}
@font-face {
	font-family: 'Figtree';
	font-style: normal;
	font-weight: normal;
	font-display: auto;
	src: url("/wp-content/uploads/sites/45/2023/02/Figtree-Italic-VariableFont_wght.ttf") format('truetype');
}
@font-face {
	font-family: 'Figtree';
	font-style: italic;
	font-weight: 600;
	font-display: auto;
	src: url("/wp-content/uploads/sites/45/2023/02/Figtree-SemiBoldItalic.ttf") format('truetype');
}
@font-face {
	font-family: 'Figtree';
	font-style: normal;
	font-weight: 600;
	font-display: auto;
	src: url("/wp-content/uploads/sites/45/2023/02/Figtree-SemiBold.ttf") format('truetype');
}
@font-face {
	font-family: 'Figtree';
	font-style: normal;
	font-weight: 400;
	font-display: auto;
	src: url("/wp-content/uploads/sites/45/2023/02/Figtree-Regular.ttf") format('truetype');
}
@font-face {
	font-family: 'Figtree';
	font-style: italic;
	font-weight: 500;
	font-display: auto;
	src: url("/wp-content/uploads/sites/45/2023/02/Figtree-MediumItalic.ttf") format('truetype');
}
@font-face {
	font-family: 'Figtree';
	font-style: normal;
	font-weight: 500;
	font-display: auto;
	src: url("/wp-content/uploads/sites/45/2023/02/Figtree-Medium.ttf") format('truetype');
}
@font-face {
	font-family: 'Figtree';
	font-style: italic;
	font-weight: 300;
	font-display: auto;
	src: url("/wp-content/uploads/sites/45/2023/02/Figtree-LightItalic.ttf") format('truetype');
}
@font-face {
	font-family: 'Figtree';
	font-style: normal;
	font-weight: 300;
	font-display: auto;
	src: url("/wp-content/uploads/sites/45/2023/02/Figtree-Light.ttf") format('truetype');
}
@font-face {
	font-family: 'Figtree';
	font-style: italic;
	font-weight: 400;
	font-display: auto;
	src: url("/wp-content/uploads/sites/45/2023/02/Figtree-Italic.ttf") format('truetype');
}
@font-face {
	font-family: 'Figtree';
	font-style: italic;
	font-weight: 800;
	font-display: auto;
	src: url("/wp-content/uploads/sites/45/2023/02/Figtree-ExtraBoldItalic.ttf") format('truetype');
}
@font-face {
	font-family: 'Figtree';
	font-style: normal;
	font-weight: 800;
	font-display: auto;
	src: url("/wp-content/uploads/sites/45/2023/02/Figtree-ExtraBold.ttf") format('truetype');
}
@font-face {
	font-family: 'Figtree';
	font-style: italic;
	font-weight: 700;
	font-display: auto;
	src: url("/wp-content/uploads/sites/45/2023/02/Figtree-BoldItalic.ttf") format('truetype');
}
@font-face {
	font-family: 'Figtree';
	font-style: normal;
	font-weight: 700;
	font-display: auto;
	src: url("/wp-content/uploads/sites/45/2023/02/Figtree-Bold.ttf") format('truetype');
}
@font-face {
	font-family: 'Figtree';
	font-style: italic;
	font-weight: 900;
	font-display: auto;
	src: url("/wp-content/uploads/sites/45/2023/02/Figtree-BlackItalic.ttf") format('truetype');
}
@font-face {
	font-family: 'Figtree';
	font-style: normal;
	font-weight: 900;
	font-display: auto;
	src: url("/wp-content/uploads/sites/45/2023/02/Figtree-Black.ttf") format('truetype');
}
/* End Custom Fonts CSS */